* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: #0D1730;
}

.navbar {
    height: 70px;
    position: relative;
    box-shadow: 0 1px 2px 0 #999;
    margin-bottom: 20px;
}

.nav__content {
    width: 100%;
    position: absolute;
    height: 50px;
    top: 10px;
}

ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    position: relative;
    left: 750px;
}

li a {
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;

}

.active {
    color: white;
    background-color: #6C55E0;
    border-radius: 30px;
}

.active:hover {
    background-color: #333;
}

li a:hover:not(.active) {
    color: #6C55E0;
}

span {
    color: #6C55E0;
}

.section {
    height: 94vh;
    padding-bottom: 150px;
}

.half-width {
    float: left;
    width: 45%;
    margin-left: 5%;

}

.half-width a {
    text-decoration: none;
    background-color: #6C55E0;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.half-width img {
    width: 80%;
}

h2 {
    font-size: 45px;
}

.about {
    height: 65vh;
    padding-bottom: 100px;
    background-color: rgb(243, 236, 236);
}

#picture {
    margin-left: 40px;
    width: 80%;
}

#about {
    padding-top: 40px;
}

.section-head p,
h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.section-head span {
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bolder;
}

h3 {
    font-size: 20px;
}

.all-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 9%;
    padding-right: 9%;
    padding-right: 9%;
}

.box {
    margin: 15px;
    padding: 15px;
    background-color: rgb(236, 236, 236);
}

.card img {
    width: 30%;
}